.DS_Store
.dart_tool/
.idea
.vscode

.packages
.pub/

build/
*.lock
*.*~
example/*.lock
example/ios/Podfile.lock.classpath
.project
.settings
**/*.classpath

doc/

# Android related
android/gradle/wrapper/gradle-wrapper.properties
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.jks

# iOS/XCode related
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/